{% load static %} 
{% load tz %}
{% block start %}

<footer class="footer">
  <a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
  </a>
  <div class="footer-top">
    <div class="container">
      <div class="inner-content">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-12 mb-2">
            <div class="footer-logo text-center text-md-left">
              <a href="/">
                <img src="{% static 'images/logo1.png' %}" alt="Logo" class="mx-2" style="max-width: 140px; min-height: 60px;"/>
              </a>
            </div>
          </div>
          <div class="col-lg-9 col-md-8 col-12">
            <div class="footer-newsletter">
              <h4 class="title mb-2 mt-2 font-weight-bold text-uppercase" >
                Subscribe to our Newsletter
                <span>Get all the latest information, Sales and Offers.</span>
              </h4>
              <div class="newsletter-form-head">
                <form class="newsletter-form ">
                  <input
                    class="mb-2 mt-2"
                    name="email"
                    placeholder="Email address here..."
                    type="email"
                    required=""
                    value=""
                    autocomplete="email"
                  />
                  <div class="button mb-2">
                    <button class="btn">
                      Subscribe<span class="dir-part"></span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-medium">
    <div class="container">
      <div class="bottom-inner">
        <div class="row">
          <div class="col-12">
            <div class="single-footer f-link">
              <ul>
                <li><a class="mr-3" href="{% url 'about' %}">About Us</a></li>
                <li><a class="mr-3" href="{% url 'contact' %}">Contact Us</a></li>
                <li><a class="mr-3" href="{% url 'shipping-address' %}">Delivery</a></li>
                <li><a class="mr-3" href="{% url 'terms-and-conditions' %}">Terms and Conditions</a></li>
                <li><a class="mr-3" href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="inner-content">
        <div class="row align-items-center">
            <div class="col-12 text-center text-md-right">
              <span style="color: grey;">&copy; {% now "Y" %} Glamora. All rights reserved.</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock %}